---
title: "Quiz 10"
format: 
  html:
    toc: true
    toc-title: Contents
    toc-depth: 4
    code-fold: show
    self-contained: true
jupyter: python3
---

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
train = pd.read_csv('/Users/vaibhavrangan/Downloads/Stat_303-2/Datasets/social_network_ads_train.csv')
test = pd.read_csv('/Users/vaibhavrangan/Downloads/Stat_303-2/Datasets/social_network_ads_test.csv')

In [4]:
train.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15755018    Male   36            33000          0
1  15697020  Female   39            61000          0
2  15796351    Male   36           118000          1
3  15665760    Male   39           122000          1
4  15794661  Female   26           118000          0